@charset "utf-8";
/* CSS Document */
#con,.con {margin:0 auto; width:100%; }
#tags { padding:0; margin:0; height:40px; background:#fff; border-bottom:1px solid #deee; width:100%;}
#tags li {background:#fff; float:left; list-style-type:none; height:40px; text-align:center; width:33.1%; border-right:1px solid #dcdcdc;}
#tags li a {color: #000; height:40px; line-height:40px; text-align:center; text-decoration:none; display:block; font-size:14px; float:left; width:100%;}
#tags li a:hover{width:100%; color:#000; border-bottom:2px solid #229d63;}
#tags li.selectTag a {color: #000; width:100%; text-align:center; display:block; border-bottom:2px solid #229d63;}
#tagcontent {background-color:#f6f6f6; border:0; margin-top:0px;}
.tagcontent {  width:100%;}
#tagcontent div.selectTag { display:block;}
