@charset "UTF-8";
h1{ font:14px "宋体"; color:#d01414;}
/* modal */
.modal-backdrop{position:fixed; top:0%; right:0; bottom:0; left:0; z-index:600;background-color:#000000; opacity:0.6; filter:alpha(opacity=60)}
.modal{position:fixed; top:50%; left:10%; z-index:1050; width:80%; background-color:#ffffff;}
#signup-modal,#login-modal,#forgetform,.modal{display:none; width:80%; background:white; overflow:hidden; box-shadow:0 1px 0 white inset; border-radius:5px;}
.shuangrenguan{ padding:10px; text-align:center; line-height:22px;}
.anniu{ border-top:1px solid #eee; height:40px; overflow:hidden;}
.anniu_left{ width:50%; float:left; text-align:center; height:40px; line-height:40px; background:url(../img/line1.png) repeat-y right top;cursor:pointer;}